
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permite que qualquer pessoa, autenticada ou não,
    // leia e escreva em qualquer documento do banco de dados.
    // ATENÇÃO: Não use em produção!
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
